<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<th:block layout:fragment="customContents">
	
	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>카테고리</th>
				<th>제목</th>
				<th>글쓴이</th>
				<th>작성일자</th>
				<th>조회수</th>
			</tr>
		</thead>
		<tbody th:each="b : ${boardList}">
			<tr>				
				<td>[[${b.num}]]</td>
				<td>[[${b.categoryName}]]</td>
				<td><a th:href="@{'/' + ${b.category} + '/' + ${b.boardId}}">[[${b.title}]]</a></td>
				<td>[[${b.writerName}]]</td>
				<td>[[${b.createdDate}]]</td>
				<td>[[${b.views}]]</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td><a th:href="@{/write}">글쓰기</a></td>
			</tr>
		</tfoot>
	</table>
</th:block>
</html>