<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/function}">
<th:block layout:fragment="customContents">
	<form class="modifyForm" th:action="@{/modify}" method="post">
		<div>
			<input th:value="${boardId}" name="boardId" hidden="hidden">
			<input type="text" id="title" name="title" th:value="${modify.title}">
			<select name="category" id="category">
				<th:block th:each="c : ${category}">
					<option th:value="${c.categoryId}">[[${c.categoryName}]]</option>
				</th:block>
			</select>
		</div>
		<div>
			<textarea rows="50" cols="50" id="contents" name="contents">[[${modify.contents}]]</textarea>
		</div>
		<div>
			<button type="submit">수정하기</button>
		</div>
	</form>
	<input id="categoryId" th:value="${modify.category}" hidden="hidden">
</th:block>
</html>