<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/function}">
<th:block layout:fragment="customContents">
	<form class="boardForm" th:action="@{/write}" method="post">
		<div>
			<input type="text" id="title" name="title" />
			<input type="text" th:value="${userEmail}" name="writerId" />
			<select name="category">
				<th:block th:each="c : ${category}">
					<option th:value="${c.categoryId}">[[${c.categoryName}]]</option>
				</th:block>
			</select>
		</div>
		<div>
			<textarea rows="50" cols="50" id="contents" name="contents"></textarea>
		</div>
		<div>
			<button type="submit">작성하기</button>
		</div>
	</form>
</th:block>
</html>